useDynLib(GWAtoolbox)
export(annotate)
export(pannotate)
export(gwasqc)
export(pgwasqc)
export(dispersion_check)
export(kusk_check)
export(gwasformat)
export(pgwasformat)
export(harmonize_id)
export(independent_snps)
export(.plot)
export(.plot_combined_boxplots)